
.cgn-service-route {
    display: flex;
    flex-direction: column;
}

.cgn-service-route > div {
    display: flex;
    flex-direction: row;
    flex: 0 0 65px;
    
}


.cgn-service-route > div > div:first-child {
    display: grid; 
    align-items: flex-start;
    border-right: solid 2px var(--bs-gray-400);
    width: 4em;
    text-align: center;
    position: relative;
}

.cgn-service-route > div:last-child > div:first-child {
    border-right: none;
}

.cgn-service-route > div > div:first-child::before {
    content: "";
    border: solid 2px var(--bs-gray-400);
    border-radius: 7px;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 0;
    left: 57px;
   
    background: white;
}

.cgn-service-route > div.selected > div:first-child::before {
    display: grid; 
    align-items: flex-start;
    border: solid 2px var(--cgn-green);
    background: var(--cgn-green);
}

.cgn-service-route > div.incomplete-selected > div:first-child::before {
 
    border: solid 2px var(--cgn-red);
    background: var(--cgn-red);
}

.cgn-service-route > div > div > div:nth-child(2) > input {
    border: none;
    color: inherit;
}

.cgn-service-route > div:not(.selected) > div > div:nth-child(2) {
  
    display: none;
}

.cgn-service-route > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    color: var(--bs-gray-600);
    font-size: 12px;
    padding-left: 10px;
}
.cgn-service-route > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne les textes à droite */
    font-size: 14px;
    color: var(--bs-gray-700);